@page
@model Skylab.Pages.Cells.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<hr>
<hr>
<hr>
<h2>Edit</h2>

<h4>Cell</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cell.ID" />
            <div class="form-group">
                <label asp-for="Cell.CellName" class="control-label"></label>
                <input asp-for="Cell.CellName" class="form-control" />
                <span asp-validation-for="Cell.CellName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cell.UpdatedAt" class="control-label"></label>
                <input asp-for="Cell.UpdatedAt" class="form-control" />
                <span asp-validation-for="Cell.UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cell.Comments" class="control-label"></label>
                <input asp-for="Cell.Comments" class="form-control" />
                <span asp-validation-for="Cell.Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<hr>
<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
