@page
@model Skylab.Pages.Sensors.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<hr>
<hr>
<hr>
<h2>Edit</h2>

<h4>Sensor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sensor.ID" />
            <div class="form-group">
                <label asp-for="Sensor.SensorName" class="control-label"></label>
                <input asp-for="Sensor.SensorName" class="form-control" />
                <span asp-validation-for="Sensor.SensorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sensor.Comments" class="control-label"></label>
                <input asp-for="Sensor.Comments" class="form-control" />
                <span asp-validation-for="Sensor.Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
<hr>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
